.about {
    margin-top: 4em;
    p {
        margin: 10px;
        font-size: 14px;
    }
    .card {
        margin-bottom: 10px;
        .card-body {
            padding-top: 0;
        }
        padding-top: 0;
        i {
            color: white;
            background: $primary;
            font-size: 1.5em;
            padding: 14px;
            margin-bottom: 8px;
        }
        h5 {
            font-weight: bold;
            margin-bottom: 8px;
        }
        p {
            font-size: 16px;
            color: #999;
            line-height: 150%;
            letter-spacing: 1px;
            padding-bottom: 20px;
        }
    }
    .fix {
        display: none;
        position: fixed;
        bottom: 0;
        right: 20px;
        z-index: 1000;
    }
    .counter {
        margin: 100px 0;
        background-color: #f7f7f7;
        padding: 40px 20px;
        text-align: center;
        .col-sm-3 {
            border-left: 1px solid rgb(162, 160, 160);
            &.first {
                border: none;
            }
            .count {
                font-size: 45px;
            }
        }
        span {
            font-size: 16px;
        }
    }
    .teams {
        height: 500px;
        .swiper-slide {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 0;
            margin: 0 !important;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            align-items: center;
            height: 400px;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover .card-content {
                bottom: 0px;
                img {
                    transform: scale(1.1, 1.1);
                    transition: all .3s ease-in-out;
                }
            }
            .card-content {
                position: absolute;
                bottom: -400px;
                padding-top: 250px;
                color: white;
                background: rgba(0, 0, 0, 0.8);
                height: 100%;
                width: 100%;
                transition: bottom .4s ease-in;
                .social-icons i {
                    background: transparent;
                    font-size: 12px;
                    color: #fff;
                    margin-left: 15px;
                }
                h4,
                span {
                    font-size: 2.1rem;
                    text-align: center;
                    font-weight: 500;
                }
                span {
                    font-size: 1.1rem;
                    color: white;
                }
            }
        }
    }
}